{% extends "base.html" %}
{% block title %}Профайл{% endblock %}
{% block header %}<h3>Профайл</h3>{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            {% include 'includes/author.html' %}
        </div>

        <div class="col-md-9">

            {% for post in page %}
                {% include 'includes/profilepost.html' %}
            {% endfor %}

            <!-- Остальные посты -->

            {% include "includes/paginator.html" %}
        </div>
    </div>

{% endblock %}